<h1>商品一覧</h1>
<div class="form-group">
    <th>商品ID</th>
    </div>
    <div class="form-group">
  　<th>商品名</th>
  　</div>
    <div class="form-group">
    <th>税抜価格</th>
    </div>
    <div class="form-group">
    <th>ジャンル</th>
    </div>
    <div class="form-group">
    <th>ステータス</th>
    </div>
   </tr>
  </thead>
<% @items.each do |item| %>

  <td><%= item.id %></td>
  <td> <%= link_to item.name, admin_items_path(item) %></td>
  <td><%= item.price %></td>
  <td><%= item.genre_id %></td>
  <td><%= item.is_active %></td>

<% end %>
<%= paginate @items %>