
      <p class="text-center">
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</br>
      </p>

            <h1>新着商品</h1>
      <div class="container">
      <div class="row">
        <div class="col-4">



            <% @items.each do |item| %>
            <% if item.image.attached? %>
            <%= image_tag item.image, size: "150x100" %>
          <% else %>
            <%= image_tag 'no_image', size: "150x100" %>
          <% end %>
            <P><%= item.name %></P>
            <P>￥<%= item.price %></P>
          <% end %>
           </div>
           </div>
          <%= link_to '全ての商品を見る＞',items_path %>



      </div>
     </div>
<%= paginate @items %>
