<h4>注文履歴の詳細</h4>
<h2>購入者</h2>
<p><%= @order.shipping_name %></p>

<h2>注文日</h2>
<p><%= @order.created_at %></p>
<h2>配送先</h2>
<p><%= @order.shipping_address %></p>
<h2>支払方法<br>(税抜価格)</h2>
<p><%= @order.method_of_payment_i18n %></p>
<h2>注文ステータス</h2>
<%= form_with model: @order, url: orders_path(@order.id), method: :patch do |f| %>
<%= f.select :is_active, ['入金待ち', '入金確認', '制作中', '発送準備中', '発送済み'], {include_blank: '選択ボックス'},
class: 'sample' %>
<%= f.submit '更新' %>

<% end %>
 <table class="table table-bordered">
          <thead>
        <thead>
          <tr>
        <div class="form-group">
        <th>商品名</th>
        </div>
        <div class="form-group">
        <th>単価（税込）</th>
        </div>
        <div class="form-group">
        <th>数量</th>
        </div>
        <div class="form-group">
        <th>小計</th>
        </div>
        <div class="form-group">
        <th>製作ステータス</th>
        </div>
        </tr>
        </thead>
        <tbody>
         <% @order_products.each do |order_product| %>
         <%= form_with model: @order, url: orders_path(@order.id), method: :patch do |f| %>
          <tr>
          <td><%= order_product.item.name %></td>
          <td><%= order_product.tax_included_price %></td>
          <td><%= order_product.quantity %></td>
          <td><%= order_product.tax_included_price*order_product.quantity %></td>
          <!--<td><%= order_product.making_status %>< f.select :making_status, ['着手不可', '制作待ち', '制作中', '制作完了']　%></td>-->
          <td><%= f.submit '更新' %></td>
          </tr>
          </thead>
          </tsble>
         </tbody>
         <% end %>
         <% end %>
         <tr>
         <td>商品合計</td>
         <td><%= @order.billing_amount %>円</td>
         </tr>
         <tr>
         <td>送料</td>
         <td><%= @order.postage %>円</td>
         </tr>
         <tr>
         <td>請求金額合計</td>
         <td><%= @order.billing_amount + @order.postage %>円</td>
         </tr>