<h3>配送先編集</h3>
<%= form_with model: @shipping_address do |f| %>
<tr>
  <td>
    <div class="col-auto">
      <th>郵便番号（ハイフンなし）</th>
      <div class="field">
    <%= f.text_field :postal_code, autocomplete: "shipping_postal_code" %>
    </td>
 </tr>
 <tr>
  <td>
    <div class="col-auto">
      <th>住所</th>
      <div class="field">
    <%= f.text_field :address, autocomplete: "shipping_address" %>
    </td>
 </tr>
 <tr>
  <td>
    <div class="col-auto">
      <th>宛名</th>
      <div class="field">
    <%= f.text_field :name, autocomplete: "shipping_name" %>
    <%= f.submit "編集内容を保存" %>
    </td>
 </tr>

<% end %>