<h3>配送先登録／一覧</h3>
<table class="table table-hover table-inverse">
<thead>
<%= form_with model: @shipping_address do |f| %>
  <tr><th>郵便番号（ハイフンなし）
  <%= f.text_field :postal_code %></th></tr>

  <tr><th>住所
  <%= f.text_area :address %></th></tr>
  <tr><th>宛名
  <%= f.text_field :name %></th></tr>

  <tr><tr><td><%= f.submit '新規登録' %></td></tr>
  <% end %>
  </tr>
  </thead>
  </table>

<table class="table table-bordered">
  <tbody>
  <tr>
  <td>郵便番号</td>
  <td>住所</td>
  <td>宛名</td>
  <td></td>
  </tr>
<% @shipping_addresses.each do |shipping_address| %>

  <tr>
  <td><%= shipping_address.postal_code %></td>
  <td><%= shipping_address.address %></td>
  <td><%= shipping_address.name %></td>
  <td><%= link_to '編集する', edit_shipping_address_path(shipping_address.id) %><%= link_to '削除する', shipping_address_path(shipping_address.id) %></td>
  </tr>
  </tbody>
  <% end %>
</table>
