<h4>注文履歴一覧</h4>
<table class="table table-hover table-inverse">
          <thead>
            <tr>
              <div class="form-group">
                <td>購入日時</td>
              </div>
              <div class="form-group">
                <td>購入者</td>
              </div>
              <div class="form-group">
                <td>注文個数</td>
              </div>
              <div class="form-group">
                <td>注文ステータス</td>
              </div>
            </tr>
               <% @orders.each do |order| %>
              <tr>
                <td><%= link_to order.created_at, admin_order_path(order.id)  %></td>
                <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
                <td><%= order.order_products.sum(:quantity) %></td>
                <td><%= order.status_i18n %></td>
              </tr>
               <% end %>
               </thead>

