 <div class="col-md-8 offset-md-1">
   <table class="table table-hover table-inverse">
    <thead>
    <tr>
     <%= image_tag @item.get_image(300,300) %>
        <th><%= @item.name %></th>
        <th><%= @item.introduction %></th>
        <th><%= @item.price %></th>
      </div>


      </tr>
  </thead>
    <tbody>
          <tr>
            <td>
            </td>
            <td>
              <%= form_with model: @cart_item do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>

               <%= f.select :amount, *[1..5] %>
               <%= f.submit "カートに入れる" %>
               <% end %>
            </td>

    </tbody>
    </table>
    </div>
    </div>
    </div>